# Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# Ignore CLI configuration files
**/.terraformrc
**/.terraform*
**/terraform.rc


#variables
deploy*
terraform.tfvars

#file .out
deploy-tftec-lab06.out
dicas-git.txt